/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  color: rgba(128, 128, 128, 0.872);
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: 300;
}

.yield-container {
  padding: 20px 10px;
}

.index-link-title {
  color: rgba(76, 76, 193, 0.847);
  text-decoration: none;
}

.index-link-title:hover {
  color: rgba(76, 76, 193, 0.617);
  text-decoration: underline;
}

.show-page-links {
  color: rgba(100, 100, 100, 0.847);
  text-decoration: none;
}

.show-page-links:hover {
  color: rgba(100, 100, 100, 0.617);
  text-decoration: underline;
}

.form-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.return-button {
  font-weight: 300;
}
